files:
    /etc/pki/tls/certs/server.crt:
        content: |
            -----BEGIN CERTIFICATE-----
            MIIDSTCCAjECFA5FL6i2JQaaCFKfIiKv5uepWW9bMA0GCSqGSIb3DQEBCwUAMGEx
            CzAJBgNVBAYTAkdUMRIwEAYDVQQIDAlHdWF0ZW1hbGExEjAQBgNVBAcMCUd1YXRl
            bWFsYTEWMBQGA1UECgwNR2FzdHJvQXZhbmNlczESMBAGA1UEAwwJQWxlamFuZHJv
            MB4XDTIxMDIwOTIwMDE1NVoXDTIyMDIwOTIwMDE1NVowYTELMAkGA1UEBhMCR1Qx
            EjAQBgNVBAgMCUd1YXRlbWFsYTESMBAGA1UEBwwJR3VhdGVtYWxhMRYwFAYDVQQK
            DA1HYXN0cm9BdmFuY2VzMRIwEAYDVQQDDAlBbGVqYW5kcm8wggEiMA0GCSqGSIb3
            DQEBAQUAA4IBDwAwggEKAoIBAQCcuUyj5/MM1hHvNJ/UQutgk0z5xck6qEhVVPmO
            zz+6fyUlienZBDiIm9XHPSYoQZ671GJjT9+oohRWiEo12fB1NLklT8LSr5YuZkcK
            heutvWIQZ/jdmgFzPScFfjvCfoOPJ28AtNWMQO6o9KVpgG45OT7mth2VxJy6qkV/
            KkvHujVFv/340ThkoAY8m5CvvAUQkQBSJDb0Lw1o7vCnkN9xjFQhjcWkMlAYIinW
            RmhpEQnuTFWkSvpUwOqPyG93JoVlZGdKTc2kgf/LD9TvzPVw3rVY2OWE68hHgf5I 
            iwhhA4tdtpJihWOWKv6is69NNIVgk84xR2soWCOeBFYR48hvAgMBAAEwDQYJKoZI
            hvcNAQELBQADggEBADQZl7HxckGSca4C4gmYRSmW7bneHuzTNBJl0ZdIcdvwhM/+
            /EoK3thDtQoaJM86EbQLQIjRoui7xaPiMemzzJjNeezQOYotmNM4YNR/foNBQBvp
            MadDd+/tQWNQT9cIl5bPA2uuWAWLPSuSY8KYbnIOZv9SNeuBqKYK23bzwKQMCFdn
            C6oOlFO5s0j3eWz7gbkEAelE4zlqHW+F5fJ7WhzYovR5P9LbkUDpDCr60uDXLfFz
            D7t5QBZaibKS51s3vmRH3r8NbVKajjTiEhZtwjPthFnNATB+OYjhn9konakvw8rZ
            M4ixOdS2e23WLqc3wuiF7Sz1DUBeQtX9U+o0+wk=
            -----END CERTIFICATE-----

/etc/pki/tls/certs/server.key:
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEowIBAAKCAQEAnLlMo+fzDNYR7zSf1ELrYJNM+cXJOqhIVVT5js8/un8lJYnp
        2QQ4iJvVxz0mKEGeu9RiY0/fqKIUVohKNdnwdTS5JU/C0q+WLmZHCoXrrb1iEGf4
        3ZoBcz0nBX47wn6DjydvALTVjEDuqPSlaYBuOTk+5rYdlcScuqpFfypLx7o1Rb/9
        +NE4ZKAGPJuQr7wFEJEAUiQ29C8NaO7wp5DfcYxUIY3FpDJQGCIp1kZoaREJ7kxV
        pEr6VMDqj8hvdyaFZWRnSk3NpIH/yw/U78z1cN61WNjlhOvIR4H+SIsIYQOLXbaS
        YoVjlir+orOvTTSFYJPOMUdrKFgjngRWEePIbwIDAQABAoIBAB6+WsJsZclG1Q3P
        jOrelb3EJ313xxmymT3kBXB2R1IWTvsmKrFfmpdxumXzIOEUvkaqSwKgUIeMA+FV
        qvkVX44eYZNoKheaSiOf/J+b1benRu1g9/jAlTg97sGtGZv1pWkXmzbQQnPY6PhL
        xYcEopqnGCe54ePXRcd4T1m6ulLbbbHc+rc4rhimLlw2AO03ZqVe5p8deHGBKdC/
        63Rxb2XwdOjSjLaZZeABUEnT2xN+UfCeGWlAJR+UMheZ6w8p0Z7QoHEKJ7PP2qDk
        Ibwxo4sXmwn/AozYkmcFinzlMs6notnpkTsmy12OT9YfH82XslcppnJ/8IdNtAdr
        N8x2uAECgYEAyMBLTfjeXZHH05SPoLSjnry45GCOTKk22zrnRdtkvpDNNVbfIsAn
        1I4mAptt2Qa1ckBl2RWFOfhBaHceTsoVw0HKPAC248NpuFv7A2KKpxvauLcFvDZJ
        B3SrZqH52YbnMAd7HrtaaYc/poEr137GhoMC4cZ2wr+4GwDAOrV6O4ECgYEAx9sb
        i8EdmfX3H1VIDTp9zIFLXXTt2/naLlGFHT/jaOU1vowWO3rwRI0v679NtaFBMwVb
        X+Vm/5wxappqrAtvXmcaGq/Pc46+dpKhbkyskPxhYColv8WSrbce4ssNw5B2z5jk
        aOK/KHz23bKtKUaN24XetgMkEoUEKz2KNz7Pu+8CgYBJxG9nfXWoiHMXSlXkxbwC
        DnMaaGihvuRLdr+ZKd9BL1BYs01XJaj9MCbDen3I6/AsxYEnXgMQpCrUykC2zwdk
        Mn6vwctyslHczt/UBJfShCfBDG/tEz2Ooc6B7i8zQaEeQwF473tvn6VB9+E2VH16
        3BVpBVaKhYyPT51TdXAvAQKBgQCrsALd8Cxp0u9Ur4KSOqlPQdNomcasrttL5yQf
        mH7X4fBlnRqMRnSZr2B3eYRcgAbuua9hlkUBWUDqf3UcD0bBJnk6a8YfU4Uzf4vG
        oX+tneJZJlv/fs8fBK03z5AnbLdkZ8fwgroNIi1BDvnK951t9Hb6jYAzmKmYK+nM
        w9zZaQKBgF1SWa1Y65RgXGfksO2RUSiGNi+jw8VggJokgbJRDlSZX3Zbfr5iWMMv
        9ei15FM5bhZoA9DgBb2u3H6y8fE92dDmtLeF2buJCp8GMGpWpj7vS9DUXCZAHpO0
        dDal3LkXEdWPV0WO6hpvWSxipeTtKpbp+ohwiaV/0+dzMixEyUpO
        -----END RSA PRIVATE KEY-----

container_commands:
    01restart_nginx:
        command: "systemctl restart nginx"